$font-stack:    Helvetica, sans-serif;
$primary-color: #2C2C2C;
$second-color: #212121;
$third-color: #ffffff;

.logo img {
  width: 40%;
}

.headerImage {
}

.footer{
  align-items: flex-end;
  justify-content:space-between ;

}